/* ==== POSTTYPE INDEX =====*/

@include media-breakpoint-up-480-xs {
	.posttype {
		.post {
			p {
				font-size: 1.3rem;
				line-height: 1.4;
			}
		}
	}
}
@include media-breakpoint-up-sm {
	.posttype {
		.post {
			p {
				font-size: 1.5rem;
			}
		}
	}
}
@include media-breakpoint-up-md {
	.posttype {
		padding-top: 100px;
		//Wordpress numbered pagination
		.pagination {
			padding-left: 0;
		}
	}
}
@include media-breakpoint-up-lg {
	.posttype {
		.post {
			p {
				font-size: 1.4rem;
			}
		}
		//order of post elements
		.post:nth-of-type(4n+1), .post:nth-of-type(4n+2) {
			img {
				float: left;
			}
			p {
				float: right;
				left: 50%;
				text-align: left;
			}
		}
		.post:nth-of-type(4n+3), .post:nth-of-type(4n+4) {
			img {
				float: right;
			}
			p {
				float: left;
				text-align: right;
				left: 0;
			}
		}
	}
}
@include media-breakpoint-up-xl {
	.posttype {
		.post {
			p {
				font-size: 1.4rem;
			}
		}
	}
}
