// ----- Bootstrap breakpoints -----
$breakpoint-max-xs: 543px;
$breakpoint-min-sm: 544px;
$breakpoint-max-sm: 767px;
$breakpoint-min-md: 768px;
$breakpoint-max-md: 991px;
$breakpoint-min-lg: 992px;
$breakpoint-max-lg: 1199px;
$breakpoint-min-xl: 1200px;

// ----- Extra breakpoints -----
$breakpoint-min-360: 360px;
$breakpoint-min-480: 480px;

// ----- project colors -----
$color-bright: #ffffff;
$color-dark: #000000;
$color-orange-basic: #f39807;
$color-orange-dark: #fa8202;

$color-post-dark: #333333;
$color-post-light: #666666;
$color-post-lighter: #7E7E7E;

$bg-box-light: #f1f1f1;
$color-box-light: #ffffff;
// $color-dark: #000000;
